{% extends 'main/base.html' %}

{% block title %}Subjects
{% endblock title %}


{% block body %}
<div class="main-body">
  <div class="row">
      {% for subject in subjects %}
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{semester.image.url}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{semester.subject_name}}</h5>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock body %}

